<mat-card class="discipline-card">
  <mat-card-header [ngStyle]="{'background-color': discipline.color}">
    <div mat-card-avatar class="discipline-avatar"></div>
    <mat-card-title><a href="/discipline/{{discipline.id}}">{{discipline.name}}</a></mat-card-title>
    <mat-card-subtitle>ID: {{discipline.id}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{discipline.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    @if(admMode){
      <button mat-button color="secondary" (click)="updateDiscipline()">Update discipline</button>
      <button mat-button color="primary" (click)="addStudent()">Add student</button>
      <button mat-button color="warn" (click)="deleteThis()">Delete discipline</button>
    }@else {
      <button mat-button color="warn" (click)="leaveThis()">Leave discipline</button>
    }
    
  </mat-card-actions>
</mat-card>
