<mat-card class="discipline-card">
    <mat-card-header>
   
      <div mat-card-avatar class="discipline-avatar"></div>
      <mat-card-title>{{discipline.name}}</mat-card-title>
      <mat-card-subtitle>ID: {{discipline.id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{discipline.description}}</p>
    </mat-card-content>
    
    <mat-card-actions>
      <button mat-button color="primary" >Add student</button>
      <button mat-button color="warn" (click)="deleteThis()">Delete discipline</button>
    </mat-card-actions>
</mat-card>
  