@if(editMode){
  <h2 mat-dialog-title>Update Discipline</h2>
}@else{
  <h2 mat-dialog-title>Create Discipline</h2>
}
<mat-dialog-content id="form-create-discipline">
  <form [formGroup]="createFormDiscipline">
    <mat-form-field appearance="outline">
      <mat-label>Name:</mat-label>
      <input matInput formControlName="nameDisciplineField" />
      <mat-hint *ngIf="createFormDiscipline.get('nameDisciplineField')?.value?.length === 0">
        Enter the name of the discipline
      </mat-hint>
      <mat-error *ngIf="createFormDiscipline.get('nameDisciplineField')?.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="createFormDiscipline.get('nameDisciplineField')?.hasError('minlength') && !createFormDiscipline.get('nameDisciplineField')?.hasError('required')">
        Name must be at least <strong>8</strong> characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description:</mat-label>
      <textarea matInput [maxLength]="textareaMaxLength" formControlName="descriptionDisciplineField"></textarea>
      <mat-hint *ngIf="createFormDiscipline.get('descriptionDisciplineField')?.value?.length === 0">
        Enter the description of the discipline
      </mat-hint>
      <mat-error *ngIf="createFormDiscipline.get('descriptionDisciplineField')?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="createFormDiscipline.get('descriptionDisciplineField')?.hasError('minlength') && !createFormDiscipline.get('descriptionDisciplineField')?.hasError('required')">
        Description must be at least <strong>16</strong> characters
      </mat-error>
    </mat-form-field>
      <mat-label>Color:</mat-label>
      <input type="color" id="myColor" value="#555555"  formControlName="colorDisciplineField">
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button class="button-special" id="cancel-button" mat-button mat-dialog-close>Cancel</button>
  <button class="button-special" id="create-button" mat-button (click)="createOrUpdateDiscipline()" cdkFocusInitial>Update</button>
</mat-dialog-actions>
