#home-teacher{
    min-width: 400px;
    width: 80%;
    max-width: 1000px;
    background-color: white;
    margin:30px auto;
    padding:20px;
    border-radius: 10px;

    button{
        background-color: #6d82f8;
    }
}