footer {
    background-color: #282c34;
    color: #ffffff;
    padding: 16px 0;
    position: static;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  
    .footer-content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
  
      span {
        font-size: 16px;
      }
  
      .footer-year {
        font-size: 14px;
        color: #b0b0b0;
      }
    }
}
  