<div class="content">
    <mat-tab-group id="form-user" animationDuration="100ms" mat-stretch-tabs="false" mat-align-tabs="center" >
        <mat-tab label="Register" ><app-user-form-register></app-user-form-register></mat-tab>
        <mat-tab label="Login"><app-user-form-login></app-user-form-login></mat-tab>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptates animi reiciendis accusantium non laboriosam, numquam facilis, labore debitis pariatur hic ea molestias ipsum ut placeat, laborum similique ducimus consequuntur.</p>
    </mat-tab-group>
</div>


  