<div id="list-student" *ngIf="students.length > 0; else emptyTemplate">
    @for (student of students; track student.id) {
        <mat-card  class="student-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{ student.name }}</mat-card-title>
              <mat-card-subtitle>{{ student.email }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p><strong>Data de nascimento:</strong> {{ student.birthday | date }}</p>
              <p><strong>Curso:</strong> {{ student.course }}</p>
              <p><strong>Semestre:</strong> {{ student.semester }}</p>
            </mat-card-content>
          </mat-card>
    }
</div>
<ng-template #emptyTemplate>
    <h3>Empty</h3>
</ng-template>